@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(./RobotoMono-Regular.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: bold;
  font-weight: 700;
  src: url(./RobotoMono-Bold.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: local('NotoSansKR') url(./Noto_Sans_KR-Regular.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: bold;
  font-weight: 700;
  src: local('NotoSansKR') url(./Noto_Sans_KR-Bold.woff2) format('woff2');
  font-display: swap;
}

/*
    Web Fonts from Google Fonts
  
    Use the following CSS rules to specify these families:
    font-family: 'Roboto Mono', sans-serif; 300 400 700
	font-family: 'Nato Sans KR', sans-serif; 300 400 700
*/
